h1{
    text-align: center;
}

.input_sec{
    text-align: center;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    padding: 8px;
    width: max-content;
  }

  body{
      text-align: center;
  }

  button{
      border: 2px solid red;
      background-color: rgb(194, 233, 233);
      color: black;
      padding: 8px;
  }